body {
    font-family: 'Segoe UI', 'Lato', 'Helvetica', sans-serif;
    margin: 0;
    padding: 0;
    width: 300px; /* Set fixed width for the popup */
}

.popup {
    display: flex;
    flex-direction: column;
    justify-content: start;
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border-radius: 15px;
    padding: 24px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    line-height: 1.4;
    text-align: left;
    z-index: 100000;
}

.link-type-container {
    display: flex;
    align-items: flex-start;
    gap: 7px;
}

.link-type,
.safety-type {
    font-size: 12px;
    padding: 3px 7px;
    border-radius: 7px;
    color: white;
    width: fit-content;
    font-family: 'Segoe UI';
}

.close-button {
    align-self: flex-end;
    background: transparent;
    border: none;
    color: #CACACA;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

.popup-title {
    font-size: 16px;
    color: black;
}

.popup-divider {
    color: #CACACA;
    width: 100%;
    border-top: 1px solid #CACACA;
}

.popup-summary {
    font-size: 12px;
    color: #494949;
    text-align: center;
}

.spinner {
    border: 1px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.bookmark-button {
    margin-top: 10px;
    background-color: transparent;
    border: 1px solid #D24545;
    color: #D24545;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    width: fit-content;
    align-self: flex-end;
    font-family: 'Segoe UI';
    font-size: 12px;
}
